#nav {
  height: 5vh;
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

#body {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  /* padding: 20px; */
}

#content {
  width: 60vw;
  background-color: bisque;
  padding: 70px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 100px auto;
}

#project-name {
  grid-column-start: span 3;
}

#left {
  width: 15vw;
  background-color: thistle;
}

#todoList{

}
#add-area{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 20px auto;}
#input-date{
}
#button-add-to-do{
    grid-column-start: span 2;
}
#todo-div {
    border-radius: 2px;
    border-color: blue;
    background-color: lightcoral;
}