#nav {
  height: 5vh;
  font-size: 50px;
  text-align: center;
  margin: 20px;
}

#body {
  height: 85vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  /* padding: 20px; */
}

#content {
  width: 60vw;
  background-color: bisque;
  padding: 70px;
  display: flex;
  flex-direction: column;
}

#project-name {
  grid-column-start: span 3;
}

#left {
  width: 20vw;
  background-color: thistle;
}

#right {
  width: 5vw;
  background-color: thistle;
}

#todoList{

}

#content-body{
  display:flex;
  justify-content: space-around;
  width:auto;
  min-height: 50vh;
}
#add-area{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 20px auto;}
#input-date{
}
#button-add-to-do{
    grid-column-start: span 3;
}
#todo-div {
    border-radius: 2px;
    border-color: blue;
    background-color: lightcoral;
}